---
layout: default
permalink: /tag/
---

{% for tag in site.tags %}
  <div id="{{tag[0]}}" class="fragment-filtered">
    <h2 class="post-list-heading"> Tag filter: <a class="tag-large">{{tag[0]}}</a> </h2>
    <ul class="post-list">
      {% for post in tag[1] %}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
          <span class="post-meta">
            {% for tag in post.tags %}
              <a class="tag-small" href="{{site.baseurl}}/tag/#{{tag}}"> {{ tag }} </a>
            {% endfor %}
          </span>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {% endfor %}
    </ul>
  </div>
{% endfor %}